body {
    padding: 0em 1em 1em 1em;
    margin: 0em;

    font-family: "Courier New";

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 20px;
    grid-gap: 1em;

}

header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;

    grid-column: 1;
    grid-row: 2;

}

main {
    background-color: grey;
    grid-column: 1;
    grid-row: 4;

}

footer {
    background-color: rgb(109, 110, 112);

    grid-column: 1;
    grid-row: 5;

    padding: 2em 1em;

    display: grid;

}


/*----------------------------------
MENU
-----------------------------------*/

nav {
    background-color: rgb(109, 110, 112);

    font-size: 0.5em;
    font-weight: 70;
    letter-spacing: 0.4em;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-content: stretch;
    align-items: center;

    padding: 0.8em;
    margin: 0em;

}

nav a {
    font-size: 1.5em;
    font-weight: 70;
    letter-spacing: 0.4em;
    text-decoration: none;
    color: white;

    padding: 0.7em;

    display: flex;
    justify-content: center;

    list-style: none;

}

nav a:hover {
    color: aquamarine;

    letter-spacing: 0.3em;

}

header > nav > a > img:hover {

    transition: all 1s;
    transform: rotate(30deg);

}


header > nav > button {
    background: url(/images/SVG/winkelmand.svg);
    background-repeat: no-repeat;

    border-style: none;

    height: 3.5em;
    width: 3.5em;

    display: flex;
    justify-content: flex-end;

}

header > nav > button:hover {

    animation: swing 1s ease;
    animation-iteration-count: 1;

}

@keyframes swing
/*------------------------------------------
BRON:https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/
-------------------------------------------*/

    {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

/*----------------------------------
MAIN
-----------------------------------*/

h2 {
    text-align: center;
    font-family: trebuchet MS;
    font-family: monospace;
    font-size: 2.5em;


    transform: rotateY(20deg);
    animation: winkel 3s infinite;
    animation-direction: alternate;
}

@keyframes winkel {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(90deg);
    }
}

h3 {
    font-size: 1em;
    font-family: "Trebuchet MS";
    text-align: center;
    letter-spacing: 0.2em;
    color: rgb(255, 242, 45);

    grid-column: 2;

}

.hoofdpagina > a {
    text-decoration: none;
}

a > article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.prod {
    grid-column: 2;

    width: 20em;
    height: 20em;

}

.prod:hover {
    opacity: 0.5;

    transition: .2s ease-in-out;

}



/*---------------------------------
FOOTER
-------------------------------*/

footer > strong > p {
    font-weight: 10;
    font-size: 0.9em;

    padding: 2em 0em;
    margin: 0em;

}

footer > h4 {
    margin: 0em;

}

footer > h5 {
    font-size: 70%;

}

footer > a {
    font-size: 0.7em;
    color: aqua;
    text-decoration: none;

    padding: 1em 0em;

}

footer > a:hover {
    color: red;

}

ul {
    padding: 0;

    display: flex;
    justify-content: space-around;

}

ul > li {
    width: 2em;

    list-style: none;

}

.fb:hover {
    transform: rotate(240deg);

}

.pint:hover {
    transform: translate(10vw);

}

.ig:hover {
    transform: rotate(30deg);

}


/*DETAILPAGINA*/

.detailtitel {
    animation: none;

}

section {
    padding: 0;
    margin: 1em;
    margin-bottom: 4em;

    min-width: 10em;
    max-width: 50em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

section > article {
    position: relative;

}

.mand {
    background: url(/images/winkel1.svg);
    background-repeat: no-repeat;
    border-style: none;

    height: 3em;
    width: 3em;

    position: absolute;
    bottom: 5%;
    left: 85%
}

.mand:hover {
    animation: roll 3s;

}

@keyframes roll
/* https://css-tricks.com/almanac/properties/t/transform/ */

    {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mand:active {
    animation: roll2 3s;

}


@keyframes roll2
/* https://css-tricks.com/almanac/properties/t/transform/ */

    {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.mand {
    transition: .25s;

}

header > nav > button {
    transition: all 0.5s;

}

body.shop header > nav > button {
    transform: rotate(360deg);

    background-image: url(/images/SVG/winkelmandpopup.svg);

}


section > article > h3 {
    font-size: 1em;

    padding: 2em;
    margin: 1em;

}

section > article > p {
    max-width: 25em;
}

/* formulier transport */

main > p {
    max-width: 50em;

    margin: 1em;

}

fieldset {
    min-width: 10em;
    max-width: 50em;

    padding: 2em;
    margin: 1em;
    border: 0.1em solid black;

}

legend {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;

    padding: 1em 2em;

}

input[type="text"],
input[type="email"],
select {
    display: block;

    margin: 1em 0em;
    margin-top: 0;
    padding: 0.5em 19em 0.5em 0em;
    border: 0;
    border-radius: 0.3em;

}

fieldset > button:hover {
    background-color: grey;
    color: black;
    border-radius: 5% 10%;

}

fieldset > button:focus {
    transform: rotateX(140deg);

}

#postcode:active {
    border: solid black;

}

#postcode {
    padding: 0.5em 2em 0.5em 0em;

}

select {
    border: 0.1em solid;
    padding: .6em 1.4em .5em .8em;

    width: 40%;
    max-width: 40%;

}

label {
    letter-spacing: 0.5em;

}

fieldset > button {
    font-family: "Arial Black";
    letter-spacing: 0.3em;
    color: white;

    background-color: black;

    padding: 1em 6em;
    margin-top: 2em;
    border-radius: 0.3em;

}

/*-------------------------------
media quiries
---------------------------------*/

/*
IPAD
*/

@media (min-width:48em) and (max-width: 64em) {

    nav {
        display: flex;
        flex-flow: row;
        justify-content: center;
        justify-content: space-between;

    }

    header > nav > a > img:hover {
        transform: rotate(100deg);

    }

    .prod {
        width: 25em;
        height: 25em;

    }

    section {
        margin-left: -0.6em;

    }

    section > article > h3 {
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 0em;
        margin-left: 0em;

        text-align: left;

    }

}

/*
LAPTOP
*/

@media (min-width: 64em) {

    nav {
        display: flex;
        flex-flow: row;
        justify-content: center;
        justify-content: space-between;

    }

    header > nav > a > img:hover {
        transform: rotate(100deg);

    }

    .hoofdpagina {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;

    }

    h2 {
        grid-column: span 2;

    }

    .prod {
        width: 25em;
        height: 25em;

    }

    section {
        margin-left: -0.6em;

    }

    section > article > h3 {
        padding-top: 0em;
        padding-left: 0em;
        margin-top: 0em;
        margin-left: 0em;

        text-align: left;

    }
}
